node_modules/
.env

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
npm-debug.log*
package-lock.json
*.log
*.gz

# yarn
yarn-debug.log*
yarn-error.log*

# testing
/coverage

# production
/build

# Benchmarking
benchmarks/graphs

# visual studios configurations
.vs