/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #355e3b;
    overflow: auto;
}
  
  /* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: #748CAB;
    text-decoration: none;
    font-size: 1.5rem;
}
  
.active {
    background-color: #355E3B;
    color: black;
}
  
/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #ffedd8;
    color: #17223a;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      display: block;
    }
    body {
      padding-top: 0px;
    }
}
  
ul.nav li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.nav {
    background-color: #355E3B;
    padding: 0;
}
  
ul.nav li a {
    color: #1D2D44;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}